/* @import "https://canvasjs.com/assets/script/canvasjs.min.js"; */

th {
    background-color: #f06432;
    color: #fff;
}

.icon {
    cursor: pointer;
    color: #444;
    font-size: 20px;
}

button {
    margin: 10px 0px;
    background-color: #f06432;
    border: 1px solid #888;
}

.bb {
    border-bottom: 2px solid #f06432;
}

.sub-title,
.url {
    font-size: 11px;
    color: #666;
    margin: 0px;
}


/* .url {
    font-size: 10px;
    color: #666;
} */