<div class="container">
    <div class="row">
        <div class="col-md-12 bb">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Sr no.</th>
                            <th>Comments</th>
                            <th>Vote Counts</th>
                            <th>UpVotes</th>
                            <th>News Details</th>

                        </tr>
                    </thead>
                    <tbody *ngIf="!noDataFound">
                        <tr *ngFor="let news of newsData; let i=index;">
                            <td>{{i+1}}</td>
                            <td>{{news.num_comments}}</td>
                            <td>{{news.points}}</td>
                            <td>
                                <!-- <img src="../../assets/icons/upvote.png" width="15" height="15" class="icon" /> -->
                                <i class="fa fa-sort-asc icon" (click)="upVote(news.objectID)"></i>
                            </td>
                            <td>{{news.title}} <span><a class="url" href={{news.url}} target="_blank">({{news.url | getDomain}})</a></span><span><a href="javascript:void(0)" (click)="hideNews(news.objectID)"> | hide</a></span>
                                <p class="sub-title"><span class="author">By: {{news.author}}</span> {{news.created_at | dateAgo}}</p>
                            </td>

                        </tr>

                    </tbody>
                    <tbody *ngIf="noDataFound">
                        <tr>
                            <td colspan="3">
                                No data Found
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- <p-paginator [rows]="5" totalRecords="20" (onPageChange)="paginate($event)"></p-paginator> -->
                <div class="d-flex paging justify-content-end">
                    <button (click)="previousPage()" [disabled]="currentPage == 0">	&#60;&#60;Prev</button>
                    <button (click)="nextPage()" [disabled]="noDataFound">Next >></button>
                </div>
            </div>
        </div>
        <div class="col-md-12" *ngIf="!noDataFound">
            <app-line-chart></app-line-chart>
        </div>
    </div>
</div>