<div class="container">
    <div class="row">
        <div class="col-md-12 bb">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Comments</th>
                            <th>Vote Counts</th>
                            <th>UpVotes</th>
                            <th>News Details</th>

                        </tr>
                    </thead>
                    <tbody *ngIf="!noDataFound">
                        <tr *ngFor="let news of newsData" [hidden]="news.objectID == objectId">
                            <!-- <div *ngIf="news.objectID != objectId"> -->

                            <td>{{news.num_comments}}</td>
                            <td>{{news.points}}</td>
                            <td><img src="../../assets/icons/upvote.png" width="20" height="20" class="icon" (click)="upVote(news.objectID)" /></td>
                            <td>{{news.title}}<span><a href="javascript:void(0)" (click)="hideNews(news.objectID)"> | hide</a></span></td>
                            <!-- </div> -->

                        </tr>

                    </tbody>
                    <tbody *ngIf="noDataFound">
                        <tr>
                            <td colspan="3">
                                No data Found
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- <p-paginator [rows]="5" totalRecords="20" (onPageChange)="paginate($event)"></p-paginator> -->
                <div class="d-flex paging justify-content-end">
                    <button (click)="previousPage()" [disabled]="currentPage == 0">	&#60;&#60;Prev</button>
                    <button (click)="nextPage()" [disabled]="noDataFound">Next >></button>
                </div>
            </div>
        </div>
        <div class="col-md-12" *ngIf="!noDataFound">
            <p-chart type="line" [data]="data"></p-chart>
            <!-- <p-chart type="pie" [data]="data"></p-chart> -->
            <!-- <p-chart type="line" [data]="data" width="40vw" height="80vh"></p-chart> -->
        </div>
    </div>
</div>